<!DOCTYPE html>
<html>
  <head>
    <title>Login Form</title>
  </head>
  <body>
    <h1>Login Form</h1>
    <form action="/login" method="post">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <br>
      <br>
      <input type="submit" name="button1" value="Вхід">
      
    </form>
    <a href="https://t.me/test040423_bot"><input type="submit" name="button2" value="Реєстрація"></a>
  </body>
</html>